.boardBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 1000px;
  height: 1000px;
  border: 1px solid;

  .box {
    width: 10px;
    height: 10px;
    background-color: green;
  }
}
